mat-grid-list{
    color: white;
    font-weight: bold;
}

.add-csr-tile-content{
    background-color: #6DEC00;
    padding: 50px;
}
.list-csr-tile-content{
    background-color: #3F51B5;
    padding: 50px;
}
