<div class="global-container">
  <mat-toolbar color="primary">
    <span>Welcome to the core</span>
    <span class="spacer"></span>
    <mat-icon class="mat-icon clickable" aria-hidden="false" aria-label="Disconnect" (click)="logout()">power_settings_new</mat-icon>
  </mat-toolbar>

  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div class="add-csr-tile-content clickable" (click)="goTo('/new')">
        <mat-icon class="mat-icon vertical-middle" aria-hidden="false" aria-label="New csr">note_add</mat-icon>
        <span class="vertical-middle text-next-icon">Déposer une demande de certificat</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="list-csr-tile-content clickable" (click)="goTo('/list-csr')">
        <mat-icon class="mat-icon vertical-middle" aria-hidden="false" aria-label="New csr">list</mat-icon>
        <span class="vertical-middle text-next-icon">Voir les demandes de certificat</span>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>

</div>
