/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body,
.global-container{
    height: 100%;
    margin: 0;
}

.global-container{
    background-color: #0072c6;
}

.spacer {
    flex: 1 1 auto;
}

.clickable{
    cursor: pointer;
}
